body{
    background-color: #04A6EB;
    color:#FDFFFF;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button{
    color: #FDFFFF;
    padding: 5px 20px;
    background-color: #337AB7;
    border-color: #2E6DA4;
    border-style: none; /*境界線を表示しないという意味*/
}

input {
    height: 20px;
}
